.popstyle{
border:2px solid #E86200;
padding:10px 10px 10px 10px;
background-color:#FFFFFF;
}
.popclosebutton{
background: url(../images/delete.png) center center no-repeat;
border: 0;
padding:5px 5px 5px 5px;
}